* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
  }
  
  .container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
  }
  
  h1 {
    color: #4CAF50;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #2196F3;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .auth-form input, .auth-form select, .auth-form button, .auth-form textarea {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
  }
  
  .auth-form input, .auth-form select, .auth-form textarea {
    background-color: #fafafa;
  }
  
  .auth-form button {
    background-color: #FFEB3B;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: #fdd835;
  }
  
  .auth-form p {
    font-size: 0.9rem;
  }
  
  #message {
    text-align: center;
    color: red;
    font-size: 1rem;
    margin-top: 10px;
  }
  
  canvas {
    margin-top: 20px;
    width: 100%;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .form-section {
    flex: 1;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chart-section {
    flex: 1;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .mood-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .mood-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .mood-button.feliz {
    background-color: #FFEB3B;
  }
  
  .mood-button.triste {
    background-color: #2196F3;
  }
  
  .mood-button.neutro {
    background-color: #9C27B0;
  }
  
  .mood-button:hover {
    opacity: 0.8;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .logout-button {
    background-color: #FF5722;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .logout-button:hover {
    background-color: #e64a19;
  }
  